<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Composition" version="17.7.18"/>
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.7.18"/>
  <package id="Microsoft.VisualStudio.Composition.AppHost" version="17.4.16"/>
  <package id="CommunityToolkit.Mvvm" version="8.2.2"/>
  <package id="Dirkster.AvalonDock" version="4.72.1"/>
  <package id="FontAwesome5" version="2.1.11"/>
</packages>